In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.cm as cmx
import matplotlib.colors as colors
import numpy as np
%matplotlib inline

In [2]:
data = pd.read_csv('../data/calendar.csv')
data.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,109,2019-09-14,f,$115.00,$115.00,30,730
1,109,2019-09-15,f,$115.00,$115.00,30,730
2,109,2019-09-16,f,$115.00,$115.00,30,730
3,109,2019-09-17,f,$115.00,$115.00,30,730
4,109,2019-09-18,f,$115.00,$115.00,30,730

In [3]:
data.fillna(value='',inplace=True)
data.drop(['available', 'minimum_nights','maximum_nights', 'adjusted_price'],axis=1,inplace=True)
data.head(5)

   listing_id        date    price
0         109  2019-09-14  $115.00
1         109  2019-09-15  $115.00
2         109  2019-09-16  $115.00
3         109  2019-09-17  $115.00
4         109  2019-09-18  $115.00

In [ ]:
data.to_csv("calendar_clean.csv",index=False)